.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

.icon {
  margin-right: 5px;
}

.goBackLink {
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background-color: #20bcc6;
  color: black;
  transition: 0.5s;
}

.goBackLink:hover,
.goBackLink:focus {
  background-color: white;
}

.link {
  font-size: 16px;
  margin-right: 10px;
  padding: 5px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background-color: #20bcc6;
  color: black;
  transition: 0.5s;
}

.link:hover,
.link:focus {
  background-color: white;
}

.title {
    margin-bottom: 15px;
}
