.header {
  height: 60px;
  background-color: rgba(21, 57, 76, 0.97);
  margin-bottom: 20px;
  width: 100vw;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: auto;
  margin-left: 150px;
  width: 1200px;
}
